@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", system-ui;
  font-style: normal;
}

body {
  position: relative;
  height: 100vh;
  background: #0d0221; 
}

#startWindow, .endWindow {
  background: #1a1a2e; 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 30px;
  gap: 15px;
  border: 2px solid #00f2ff;
  box-shadow: 0 0 20px #00f2ff;
  color: #00f2ff;
}

#startWindow h1 {
  font-size: 14px;
}

#startWindow p {
  font-size: 12px;
  color: #ff00ff; 
}

#startWindow .buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#startWindow .buttons button, .endWindow button, .mainGame button {
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  background: #ff00ff;
  color: #0d0221;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

button:hover {
  box-shadow: 0 0 15px #00f2ff;
  transform: scale(1.05);
  background: #00f2ff;
}

.mainGame {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #00f2ff;
  gap: 50px;
}

.mainGame h1 {
  text-shadow: 3px 3px #ff00ff;
  color: #00f2ff;
}

.chances-box {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #0d0221;
  background-color: #00f2ff;
  padding: 15px;
  border-radius: 20px;
}

.colors-box {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 20px;
}

.colors-box .box {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  border: 3px solid rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.box:hover {
  transform: scale(1.05);
  border-color: #ff00ff;
}

#chances {
  font-size: 22px;
  color: #0d0221;
}

.hide {
  display: none !important;
}

.endWindow {
  display: none;
}

.endWindow h1 {
  color: #ff0055; 
  text-shadow: 0 0 10px #ff0055;
  font-size: 14px;
}

.win-restart-btn {
  display: none;
}

